<!DOCTYPE html>
<html>
  <head>
    <title>TodolistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script src="https://kit.fontawesome.com/bc0b8bcb2a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/navbar'  %>
    <%= render 'layouts/flash'  %>
    <div class="container mx-5">
      <%= yield %>
    </div>
  </body>
<script>

let check_list = []
document.querySelector("#button-1").addEventListener("click", function(e) {
	// e.target was the clicked element
  console.log(document.querySelectorAll("input[type=checkbox]:checked"));
		});
</script>

</html>
